<header>
  <div class="bg-success">
    <div class="header p-3">
      <h1 class="text-white d-inline">MicroServices Appliaction</h1>
      <div *ngIf="!loginMessage; &quot;login success&quot;">
        <a routerLink="loginPage">
          <input
            type="button"
            class="btn btn-sm btn-light d-inline float-end button"
            value="login"
          />
        </a>
        <a routerLink="registerPage">
          <input
            type="button"
            class="btn btn-sm btn-light d-inline float-end button2"
            value="Register"
          />
        </a>
      </div>
      <div *ngIf="loginMessage; &quot;login success&quot;">
        <p class="d-inline float-end user">{{ loginUserName }}</p>
        <a routerLink="loginPage">
          <input
            type="button"
            value="Logout"
            class="btn btn-sm btn-light d-inline float-end button3"
            (click)="logout()"
          />
        </a>
      </div>
    </div>
  </div>
</header>
