<div class="container">
  <h3 class="text-center mt-5">Login</h3>
  <div class="col col-5 mx-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <label>username</label>
      <input
        type="text"
        class="form-control"
        placeholder="enter your username"
        name="username"
        formControlName="username"
      />
      <span *ngIf="username && username.invalid && username.touched"
        >please enter valid username</span
      ><br />
      <label>password</label>
      <input
        type="password"
        class="form-control"
        placeholder="enter your password"
        name="password"
        formControlName="password"
      /><span *ngIf="password && password.invalid && password.touched"
        >please enter valid password</span
      ><br />
      <input
        [disabled]="button()"
        type="submit"
        class="btn btn-sm btn-success mt-3"
        value="Submit"
      />
    </form>
  </div>
</div>
<div *ngIf="loginErrorMessage; &quot;invalid credintails&quot;">
  <h4 class="text-center text-danger">
    {{ loginErrorMessage }}
  </h4>
</div>
